{% extends "base.html" %}

{% block news %}

   <!--============= news start =============-->
   <section class="news">
    <h1 class="text-bg-danger text-center">Health News</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-9 border-end border-3">
          {% for news in healthNews %}                
          <div class="row my-4">
            <div class="col-md-5">
              <img src="/media/{{ news.image}}" class="img-fluid" style="width:90vw; height:35vh;" alt="">
            </div>
            <div class="col-md-7 px-3 mt-1 my-4">
              <h1>{{ news.title | truncatewords:10 }}</h1>
                <small class="text-danger">Published: {{ news.date }}</small>
                <small>{{ news.category }}</small>
                <p>{{ news.description | truncatewords:20 }}.</p>  
               <a href="" class="btn btn-danger">READ MORE</a> 
            </div>
          </div>
               

          {% endfor %}
        </div>
          <div class="col-md-3">
            <h3 class="md-4">Top News</h3>
            {% for news in topNews %}
            <a href="" class="link-danger">
              <div class="row my-3">
                <div class="col-md-4">
                  <img class="img-fluid" src="/media/{{ news.image }}" alt="">
                </div>
                <div class="col-md-8">
                  <p>{{ news.title | truncatewords:8 }}</p>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
 <!--============= news end =============-->

{% endblock news %}